.pokemonData {
  text-align: left;
  margin-left: 60px;
}
.popupContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popupContent {
  background-color: var(--primary-white);
  border-radius: 5px;
  text-align: center;
  z-index: 1000;
  width: 85%;
  overflow: hidden;
  position: relative;
}

.backgroundImage {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.pokemonImage {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  height: 300px;
  width: 300px;
}

.shareButton {
  font-weight: 600;
  font-size: 16px;
  line-height: 21.6px;
  text-align: center;
  background-color: var(--primary-red);
  width: 195px;
  height: 44px;
  border: none;
  border-radius: 60px;
  margin: 0 15px;
  color: var(--primary-white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

@media (min-width: 769px) {
  .popupContent {
    margin: 0 500px;
  }
}